
.vs/MyPomodoroClock/v16/.suo
.vs/MyPomodoroClock/DesignTimeBuild/.dtbcache.v2
MyPomodoroClock/bin/Debug/netcoreapp3.1/MyPomodoroClock.dll
MyPomodoroClock/bin/Debug/netcoreapp3.1/MyPomodoroClock.pdb
MyPomodoroClock/obj/Debug/netcoreapp3.1/MyPomodoroClock.pdb
